<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vegetables.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.vegetables.model.Order">
        <result column="id" property="id" />
        <result column="create_people" property="createPeople" />
        <result column="create_time" property="createTime" />
        <result column="modify_people" property="modifyPeople" />
        <result column="deleted" property="deleted" />
        <result column="order_code" property="orderCode" />
        <result column="pay_code" property="payCode" />
        <result column="amount_money" property="amountMoney" />
        <result column="all_money" property="allMoney" />
        <result column="person_code" property="personCode" />
        <result column="distribution_address" property="distributionAddress" />
        <result column="sales_unit" property="salesUnit" />
        <result column="order_status" property="orderStatus" />
        <result column="modifyTime" property="modifytime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_people,
        create_time,
        modify_people,
        deleted,
        order_code, pay_code, amount_money, all_money, person_code, distribution_address, sales_unit, order_status, modifyTime
    </sql>

</mapper>
